<!DOCTYPE HTML>
<html>

<head>
  <title>RioExport</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="assets/style-ns2.css" />
</head>

<body>
  <div id="main">
    <div id="header_coffee">
      <div id="logo_coffee">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="coffee.html">Rio<span class="logo_colour">Export</span></a></h1>
          <h2>Representação e Corretagem</h2>
        </div>
      </div>
    </div>
    <div id="site_content">
      <div id="content">
        <h1>Café</h1>
        <p>O café é uma bebida produzida a partir dos grãos torrados do fruto do cafeeiro. É servido tradicionalmente quente, mas também pode ser consumido gelado. O café é um estimulante, por possuir cafeína — geralmente 80 a 140 mg para cada 207 ml dependendo do método de preparação.</p>
        <p>Em alguns períodos da década de 1980, o café era a segunda mercadoria mais negociada no mundo por valor monetário, atrás apenas do petróleo. Este dado estatístico ainda é amplamente citado, mas tem sido impreciso por cerca de duas décadas, devido à queda do preço do café durante a crise do produto na década de 1990, reduzindo o valor total de suas exportações. Em 2003, o café foi o sétimo produto agrícola de exportação mais importante em termos de valor, atrás de culturas como trigo, milho e soja.</p>
        <p>Minas Gerais é o estado com maior produção de café do Brasil (26,6 milhões de sacas), o que corresponde a mais de 50% da produção nacional do produto e 17% da produção mundial. Patrocínio foi o maior produtor do Estado de Minas Gerais, colhendo 406.033 sacas de 60 kg , numa área de 26.452 hectares e produtividade de 15,35 sacas/ha em 2005.</p>
        <h2>História</h2>
        <p>A história do café começou no século IX. O café é originário das terras altas da Etiópia (possivelmente com culturas no Sudão e Quênia) e difundiu-se para o mundo através do Egito e da Europa. Mas, ao contrário do que se acredita, a palavra "café" não é originária de Kaffa — local de origem da planta —, e sim da palavra árabe qahwa, que significa "vinho", devido à importância que a planta passou a ter para o mundo árabe.</p>
      </div>
    </div>
    <div id="footer">
      <p><%= link_to "Home", root_path %> | <%= link_to "About", page_path('about') %> | <%= link_to "Contact", page_path('contact') %> | <%= link_to "Coffee", page_path('coffee') %></p>
    </div>
  </div>
</body>
</html>
